<%= form_with(model: device, local: true) do |form| %>
  <% if device.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
      <% device.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @suggestion %>
<p>Please enter as much information as you have about the device. After you submit it, we will review it and add it to the directory as appropriate.</p>
<%= form.hidden_field :suggestion, value: 1 %>
<% end %>

  <div class="field form-group">
    <%= form.label :part_number %>
    <%= form.text_field :part_number, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :friendly_name %>
    <%= form.text_field  :friendly_name, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer, class: 'form-control'  %>
  </div>

  <div class="form-check">
    <%= form.check_box :obsolete, class: 'form-check-input' %>
    <%= form.label 'Obsolete?', class: 'form-check-label' %>
  </div>  

  <div class="form-check">
    <%= form.check_box :is_spi, class: 'form-check-input'  %>
    <%= form.label 'SPI?', class: 'form-check-label'  %>
  </div>  

  <div class='form-check form-check-inline'>
    <%= form.label '3V?', class: 'form-check-label' %>
    <%= form.check_box :is_3v, class: 'form-check-input'  %>
  </div>  

  <div class='form-check form-check-inline'>
    <%= form.label '5V?', class: 'form-check-label' %>
    <%= form.check_box :is_5v, class: 'form-check-input'  %>
  </div>  

  <div class="field form-group">
    <%= form.label :datasheet %>
    <%= form.text_field :datasheet, class: 'form-control'  %>
  </div>

  <% if @device.datasheet_suggestions.where(kind: 'datasheet').count > 0 %>
  <h5>Suggested datasheets</h5>
  <ul>
    <% @device.datasheet_suggestions.where(kind: 'datasheet').each do |datasheet| %>
    <li><%= button_tag "Use", type: 'button', class:'btn btn-info', onclick: "useDatasheet('#{datasheet.link}')" %>
      <%= datasheet.title %> - <a href="<%= datasheet.link %>" target="_blank"><%= datasheet.link %></a></li>
    <% end %>
    </ul>
    <hr>
  <% end %>

  <% if @device.datasheet_suggestions.where(kind: 'driver').count > 0 %>
  <h5>Suggested Drivers</h5>
  <ul>
    <% @device.datasheet_suggestions.where(kind: 'driver').each do |datasheet| %>
    <li><%= button_tag "Use", type: 'button', class:'btn btn-info', onclick: "useDatasheet('#{datasheet.link}')" %>
      <%= datasheet.title %> - <a href="<%= datasheet.link %>" target="_blank"><%= datasheet.link %></a></li>
    <% end %>
    </ul>
    <hr>
  <% end %>

  <div class="field form-group">
    <%= form.label :adafruit %>
    <%= form.text_field :adafruit, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :sparkfun %>
    <%= form.text_field :sparkfun, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label :amazon %>
    <%= form.text_field :amazon, class: 'form-control'  %>
  </div>

  <div class="field form-group">
    <%= form.label "Release year" %>
    <%= form.number_field :release_date, class: 'form-control', min: 1982, max: 2025 %>
  </div>


  <div class="field form-group">
    <%= form.label 'I2C Addresses' %><br/>
    <%= form.collection_check_boxes :address_ids, Address.where(reserved: false).order(address: :asc), :id, :to_s, class: 'form-check-inline'  do |b|
	b.label(class: "form-check-label-inline") { (b.text + ' ' + b.check_box(class: "form-check-inline")).html_safe }
	end
	%>
  </div>

  <div class="actions">
    <button type="submit" class="btn btn-primary">Update Device</button>
  </div>
<% end %>
