<p id="notice"><%= notice %></p>

<h1>Devices</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Part</th>
      <th>Description</th>
      <th>Addresses</th>
      <th>Datasheet</th>
      <th>Adafruit</th>
      <th>Sparkfun</th>
      <th>Amazon</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.part_number, device %></td>
        <td><%= device.friendly_name %></td>
	<% if device.address.length == 0 %>
	  <td>none</td>
	<% elsif device.address.length == 1 %>
          <td><%= link_to device.address.first.to_s, device.address.first %></td>
	<% elsif device.address.length == 2 %>
          <td><%= link_to device.address.first.to_s, device.address.first %>, <%= link_to device.address.second.to_s, device.address.second %></td>
	<% else %>
	  <td><%= link_to device.address.length, device %></td>
	<% end %>
	<% if device.datasheet %>
          <td><%= link_to fa_icon('table', class: 'fa-2x'), device.datasheet %></td>
	<% else %>
	  <td></td>
	<% end %>
	<% if device.adafruit %>
          <td><%= link_to image_tag('Adafruit-logo-64x64.png', size: '32', alt: 'See device on Adafruit'), device.adafruit %></td>
	<% else %>
	  <td></td>
	<% end %>
	<% if device.sparkfun %>
          <td><%= link_to image_tag('Sparkfun-logo-64x64.png', size: '32', alt: 'See device on Sparkfun'), device.sparkfun %></td>
	<% else %>
	  <td></td>
	<% end %>
	<% if device.amazon %>
          <td><%= link_to image_tag('Amazon-logo-64x64.png', size: '32', alt: 'See device on Amazon'), device.amazon %></td>
	<% else %>
	  <td></td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
