<div class='card'>
  <div class="card-body">
    <h1 class='card-title'><%= @device.part_number %></h1>
    <div class='card-subtitle'><%= @device.friendly_name %></div>
    <div class='card-subtitle'>
<% if @device.datasheet.present? %>
  <%= link_to fa_icon('table', class: 'fa-2x'), @device.datasheet %></td>
<% end %>
<% if @device.adafruit.present? %>
  <%= link_to image_tag('Adafruit-logo-64x64.png', size: '32', alt: 'See @device on Adafruit'), @device.adafruit %>
<% end %>
<% if @device.sparkfun.present? %>
  <%= link_to image_tag('Sparkfun-logo-64x64.png', size: '32', alt: 'See @device on Sparkfun'), @device.sparkfun %>
<% end %>
<% if @device.amazon.present? %>
  <%= link_to image_tag('Amazon-logo-64x64.png', size: '32', alt: 'See @device on Amazon'), @device.amazon %>
<% end %>
</div >
    <p class='card-text'>
      <strong>Addresses:</strong>
      <ul class="list-group">
	<% @device.address.order(address: :asc).each do |addr|  %>
	<li class="list-group-item"><%= link_to("0x%02x" % addr.address, addr) %></li>
	<% end %>
      </ul>
    </p>

  </div>
</div>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_device_path(@device) %>
<% end %>
