<div class="row">
  <div class="col">
  <h2>Import CSV file</h2>
  <%= form_tag('/admin/import', method: :post, multipart: true) do %>
    <div class='form-group'>
      <label for="csv">CSV file to upload</label>
      <%= file_field_tag 'csv', class:'form-control-file' %><br/>
      </div>
    <button type="submit" class="btn btn-primary">Import file</button>
  <% end %>
  </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>Suggestions (<%= @suggestions.length %>)</h2>
    <table cols="2" class="table">
      <tr>
	<th>Manufacturer</th>
	<th>Device</th>
	<th>Function</th>
      </tr>
<% @suggestions.each do |device| %>
      <tr>
	<th><%= device.manufacturer %></th>
	<th><%= link_to device.friendly_name, device  %></th>
	<th><%= device.friendly_name %></th>
      </tr>
<% end %>
    </table>
  </div>
</div>

<div class='row'>
  <div class="col">
    <h2>Datasheet Suggestions (<%= @datasheet_suggestions.length %>)</h2>
    <table cols="2" class="table">
      <tr>
	<th>Manufacturer</th>
	<th>Device</th>
	<th>Function</th>
	<th>Datasheets</th>
      </tr>
<% @datasheet_suggestions.all.each do |device| %>
      <tr>
	<th><%= device.manufacturer %></th>
	<th><%= link_to device.part_number, edit_device_path(device) %></th>
	<th><%= device.friendly_name %></th>
	<th><%= device.datasheet_suggestions.count %></th>
	<th><%= link_to 'clear suggestions', "/devices/#{device.slug}/clear_suggestions" %></th>
      </tr>
<% end %>
    </table>
  </div>

  <div class="col">
    <h2>Driver Suggestions (<%= @driver_suggestions.length %>)</h2>
    <table cols="2" class="table">
      <tr>
	<th>Manufacturer</th>
	<th>Device</th>
	<th>Function</th>
	<th>Datasheets</th>
      </tr>
<% @driver_suggestions.all.each do |device| %>
      <tr>
	<th><%= device.manufacturer %></th>
	<th><%= link_to device.part_number, edit_device_path(device) %></th>
	<th><%= device.friendly_name %></th>
	<th><%= device.datasheet_suggestions.count %></th>
	<th><%= link_to 'clear suggestions', "/devices/#{device.slug}/clear_suggestions" %></th>
      </tr>
<% end %>
    </table>
  </div>
</div>

<div class='row'>
  <div class="col">
    <h2>Most viewed</h2>
    <table cols="2" class="table">
      <tr>
	<th>Part</th>
	<th>Device</th>
	<th>Views</th>
      </tr>
<% @most_views.each do |device| %>
      <tr>
	<th><%= link_to device.part_number, device %></th>
	<th><%= device.friendly_name %></th>
	<th><%= device.views %></th>
      </tr>
<% end %>
    </table>
  </div>
</div>
