<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="h6"><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul class="mb-0">
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :address, class: "form-label" %>
    <%= form.number_field :address, class: "form-control" %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :reserved, class: "form-check-input" %>
    <%= form.label :reserved, class: "form-check-label" %>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
